<h1>Your Favourites</h1>
  
<% if @user_favorites == nil %>
    <p>You don't have any favourites yet.</p>
    <%= link_to "Continue shopping", products_path %>
<% end %>
<br>

<div class="card-container">
  <% @user_favorites.each do |product| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag(product.image.key, crop: :scale, cloud_name: 'adriana-developer', class: "card-img-top") if product.image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= product.availability ? "In stock" : "Sold out" %></h6>
          <%= link_to_if product.availability, 'Shop', product %>
        </div>
      </div>
  <% end %>
</div>
