<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<h2><%= @store.name %></h2>
<p>
  <%= cl_image_tag(@store.banner.key, cloud_name: 'adriana-developer') if @store.banner.attached? %>
</p>

<p>
  <%= @store.description %>
</p>

<% if @store_average_rating >= 0 %>
  <p>
    <strong>Average rating:</strong>
    <%= @store_average_rating%>/5
    from <%= pluralize(@store.store_reviews.count, "review") %>.
  </p>
<% end %>

<h4>Products:</h4>
<% if @store.products.count == 0 %>
  <p>This store doesn't have any products.</p>
<% else %>
<br>
<div class="card-container">
  <% @store.products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag(product.image.key, crop: :scale, cloud_name: 'adriana-developer', class: "card-img-top") if product.image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= product.availability ? "In stock" : "Sold out" %></h6>
          <%= link_to_if product.availability, 'Shop', product %>
          <% if user_signed_in? && @user_owns_a_store && current_user.store.id == @store.id %>
            <%= link_to 'Edit', edit_product_path(product) %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>
</div>


<!-- only store owner has these buttons -->
<% if user_signed_in? && @user_owns_a_store && current_user.store.id == @store.id %>
<br>
<div class="store-management-links">
    <button>
      <%= link_to "Add a new product", new_product_path %>
    </button>
  <button>
    <%= link_to 'Edit your store', edit_store_path(@store) %>
  </button>
</div>
<br>
<% end %>

<h5>Reviews:</h5>
<% @store_reviews.each do |review| %>
  <div class="review-card">
    <p>Rating: <%= review.rating %></p>
    <p><%= review.comment %></p>
  </div>
  <br>
  <% end %>
<%= will_paginate @store_reviews %>

<!-- user doesn't own this store -->
<% unless user_signed_in? && @user_owns_a_store && current_user.store.id == @store.id %>
<hr>
  <h5>
    Leave a review:
  </h5>
    <%= simple_form_for [@store, @store_review], local: true do |f| %> 
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :rating,
                      as: :integer, 
                      collection: ["1","2","3","4","5"], 
                      # { class="form-check-input" },
                      # item_wrapper_class: 'inline',
                      as: :radio_buttons, 
                      class: "form-check-label",
                      error: "You must provide a rating" %>
          <%= f.input :comment, 
                    label: "Comments:", 
                    error: "You must provide a comment" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Leave your review" %>
        </div>
    <% end %>
<% end %>