<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Light</th>
      <th>Difficulty</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
        <% if product.availability == true %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.category %></td>
          <td><%= product.light %></td>
          <td><%= product.difficulty %></td>
          <td><%= product.price %></td>
          <td><%= link_to 'Shop this item', product %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>