<p>
  <%= cl_image_tag(@product.image.key, crop: :scale, width: 600, cloud_name: 'adriana-developer') if @product.image.attached? %>
</p>

<p>
  <% if user_signed_in? %>
    <button>
      <%= link_to favorite_text, favorites_update_path(product: @product), id: 'favorite_link', remote: true %>
    </button>
  <% end %>
</p>

<h2>
  <%= @product.name %>
</h2>

<p>
  <%= @product.description %>
</p>

<p>
  $<%= @product.price %>
</p>

<p>
  <strong>Available?</strong>
  <%= @product.availability ? "✔️" : "❌" %>
</p>

<p>
  <% @product.light if @product.light != nil %>
</p>

<!-- make a partial for a difficulty scale? -->
<p>
  <% @product.difficulty if @product.difficulty != nil %>
</p>

<% if @user_owns_a_store == true %>
  <td><%= link_to 'Edit', edit_product_path(@product) %></td>
  <td><%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>


<p>
  <strong>From:</strong>
  <%= link_to @product.store.name, store_path(@product.store_id) %>
</p>

<p>
  <% if @product.availability %>
    <button id="buy-now-button">Buy Now</button>
  <% else %>
    Product sold out.
    <button type="button" disabled>Buy Now</button>
  <% end %>
</p>
<script src="https://js.stripe.com/v3/"></script>

<script>
	const stripe = Stripe('<%= ENV["STRIPE_PUBLICKEY"] %>')
	const buyButton = document.getElementById('buy-now-button')

	buyButton.addEventListener('click', function() {
		fetch('<%= buy_path(@product.id) %>', { 
			method: 'GET'
		})
		.then(function(response) {
			return response.json()
		})
		.then(function(session) {
			return stripe.redirectToCheckout({ sessionId: session.id })
		}) 
	})
</script>

