<p>
  <%= cl_image_tag(@product.image.key, crop: :scale, width: 600, cloud_name: 'adriana-developer') if @product.image.attached? %>
</p>

<p>
  <button>
    <%= link_to favorite_text, favorites_update_path(product: @product), id: 'favorite_link', remote: true %>
  </button>
</p>

<h2>
  <%= @product.name %>
</h2>

<p>
  <%= @product.description %>
</p>

<p>
  $<%= @product.price %>
</p>

<p>
  <strong>Available?</strong>
  <%= @product.availability ? "✔️" : "❌" %>
</p>

<p>
  <% if @product.light == !nil %>
    <%= @product.light %>
  <% end %>
</p>

<!-- make a partial for a difficulty scale? -->
<p>
  <% if @product.difficulty == !nil %>
    <%= @product.difficulty %>
  <% end %>
</p>


<p>
  <strong>From:</strong>
  <%= link_to @product.store.name, store_path(@product.store_id) %>
</p>

<p>
  <% if @product.availability == true %>
    <button id="buy-now-button">Buy Now</button>
  <% else %>
    Product sold out.
    <button type="button" disabled>Buy Now</button>
  <% end %>
</p>
<script src="https://js.stripe.com/v3/"></script>

<script>
	const stripe = Stripe('<%= ENV["STRIPE_PUBLICKEY"] %>')
	const buyButton = document.getElementById('buy-now-button')

	buyButton.addEventListener('click', function() {
		fetch('<%= buy_path(@product.id) %>', { 
			method: 'GET'
		})
		.then(function(response) {
			return response.json()
		})
		.then(function(session) {
			return stripe.redirectToCheckout({ sessionId: session.id })
		}) 
	})
</script>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
