<p>
  <%= cl_image_tag(@product.image.key, crop: :scale, width: 600, cloud_name: 'adriana-developer') if @product.image.attached? %>
</p>

<p>
  <% if user_signed_in? %>
    <button>
      <%= link_to favorite_text, favorites_update_path(product: @product), id: 'favorite_link', remote: true %>
    </button>
  <% end %>
</p>

<h2>
  <%= @product.name %>
</h2>

<p>
  <%= @product.description %>
</p>

<p>
  $<%= @product.price %>
</p>

<p>
  <% if @product.light %>
  This plant requires <%=@product.light.downcase%> light.
  <% end %>
</p>

<p>
  <% if @product.difficulty %>
  Suitable for a "<%=@product.difficulty.downcase%>" caretaker.
  <% end %>
</p>

<p>
  <strong>Available?</strong>
  <%= @product.availability ? "✔️" : "❌" %>
</p>

<!-- if user is signed in and owns the store that owns these products -->
<% if user_signed_in? && @user_owns_a_store && @product.store_id == current_user.store.id %>
  <td><%= link_to 'Edit', edit_product_path(@product) %></td>
  <td><%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<p>
  <strong>From:</strong>
  <%= link_to @product.store.name, store_path(@product.store_id) %>
</p>

<p>
  <% if @product.availability && user_signed_in? %>
    <button id="buy-now-button">Buy Now</button>
  <% elsif user_signed_in? && @user_owns_a_store && @product.store_id == current_user.store.id %>
    <button type="button" disabled>Buy Now</button>
  <% elsif !user_signed_in?  %>
  <p>Please <%= link_to "sign in", new_user_session_path %> to place an order.</p>
    <button type="button" disabled>Buy Now</button>
  <% elsif !@product.availability && user_signed_in? %>
    <p>Product sold out.</p> 
    <button type="button" disabled>Buy Now</button>
  <% end %>
</p>

<script src="https://js.stripe.com/v3/"></script>

<script>
	const stripe = Stripe('<%= ENV["STRIPE_PUBLICKEY"] %>')
	const buyButton = document.getElementById('buy-now-button')

	buyButton.addEventListener('click', function() {
		fetch('<%= buy_path(@product.id) %>', { 
			method: 'GET'
		})
		.then(function(response) {
			return response.json()
		})
		.then(function(session) {
			return stripe.redirectToCheckout({ sessionId: session.id })
		}) 
	})
</script>

